.box-animation {
  background-repeat: no-repeat;
  transition: 0.3s ease;

  &:hover {
    &.animation-loto {
      background-position: 0 76px, 59px 18px, 20px 13px;
    }
    &.animation-game {
      background-position: 0 39px, 69px 87px, 57px 14px;
    }
    &.animation-bowling {
      background-position: 0 13px, 49px 10px;
    }
    &.animation-dice {
      background-position: 0 43px, 62px 43px;
    }
  }
}

.animation-loto {
  width: 113px;
  background-image: url($images-folder + 'svg/loto.svg'), url($images-folder + 'svg/loto-2.svg'), url($images-folder + 'svg/loto-3.svg');
  background-position: 0 54px, 59px 26px, 20px 26px;
}

.animation-game {
  width: 124px;
  background-image: url($images-folder + 'svg/game-3.svg'), url($images-folder + 'svg/game.svg'), url($images-folder + 'svg/game-2.svg');
  background-position: 0 48px, 69px 68px, 57px 11px;
}

.animation-bowling {
  width: 99px;
  background-image: url($images-folder + 'svg/bowling.png'), url($images-folder + 'svg/bowling-2.png');
  background-position: 0 4px, 49px 21px;
}

.animation-dice {
  width: 116px;
  background-image: url($images-folder + 'svg/dice.png'), url($images-folder + 'svg/dice-2.png');
  background-position: 0 22px, 62px 56px;
}