$icon-dice: "\e900";
$icon-casino: "\e901";
$icon-popular: "\e902";
$icon-rocket: "\e903";
$icon-card: "\e904";
$icon-nav: "\e905";
$icon-ellipse: "\e906";
$icon-arrow-bottom: "\e908";
$icon-home: "\e909";
$icon-play: "\e90a";
$icon-ball: "\e90b";