$resolutions: (
  xxs: $screen-xxs,
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg
) !default;

$spaces: (
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px
) !default;

$text-font-sizes: (
  base: $base-font-size,
  lg: $fs-lg,
  xl: $fs-xl,
) !default;

$heading-font-sizes: (
  h3: $h3,
  h2: $h2,
  h1: $h1
) !default;

$colors: (
  primary: $color-primary,
  highlight: $color-highlight,
  text: $color-text,
  warning: $color-warning,
  gray: $color-gray,
  dark: $color-dark,
  light: $color-light,
  lightest: $color-lightest,
  link: $color-link,
) !default;

$font-weights: (
  regular: 400,
  medium: 500,
  bold: 700
);
